.my-sign-up-in-card{
    width: 90%;
    margin:auto;
    margin-top:100px;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color:darkgrey;
    border-radius: 10px;
    box-shadow:4px -4px 8px grey;
}
.my-signup-logo{
    margin-top:10px;
    margin-left: 42%;
    margin-right: 42%;

}
@media only screen and (min-width:768px){
    .my-sign-up-in-card{
        width:80%;
        margin-top:64px;
    }
}
@media only screen and (min-width:768px){
    .my-sign-up-in-card{
        width:24%;
        margin-top:96px;
    }
}